<div class="content-nav__item" data-index="{{ loop.index }}">
    <h3 class="heading heading--md heading--sans--md">{{ content.field_title }}</h3>
    <div class="content-nav__item__description">{{ content.field_content }}</div>
</div>
