<li class="image-map__legend__item ">
    <div class="d-block ">
        <h3 class="heading heading--md heading--sans--md ">{{ content.field_title }}</h3>
        {{ content.field_content }}
    </div>
    </li>
