<div class="col-md-4 accordion tab-content__block">
    <div class="tab-content__icon">
        {{ content.field_outward_image }}
    </div>
    <div class="tab-content__title">
        {{ content.field_outward_title }}
    </div>
</div>