<section class="page-section" data-scroll-section>
    <div class="accordion animate-in" data-component='Accordion'>
        {{ content.	field_accordion_identity }}
        {{ content.field_accordion_typologies }}
    </div>
</section>