<div id="the-design-{{paragraph.index}}" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-the-design-{{paragraph.index}}">
    <picture class="combo-image__picture img-fluid">
        <img class="img-fluid" src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="">
    </picture>
</div>
