<div class="accordion__content">
    <div class="accordion__content__heading heading--md heading--sans--md heading--black">{{ content.field_title }}</div>
    {{ content.field_accordion_row_content }}
</div>