<div class="col-12 col-md-3 hover-grid__item ">
    <a href="#" class="hover-grid__image-wrapper hover-grid__image-wrapper--hover">
        {{ content.field_image }}
    </a>
    <div class="hover-grid__image-title">
        {{ content.field_image_title|render|striptags|trim }}
    </div>
</div>