<div class="col-md-4 tab-content__block">
    <div class="tab-content__icon">
        {{ content.field_accordion_tab_inward_image }}
    </div>
    <div class="tab-content__title">
        {{ content.field_accordion_tab_outward_titl }}
    </div>
</div>