<div class="accordion__row accordion__row--flex">
    <div class="accordion__row__title">
        <div>{{ content.field_title }}</div>
    </div>
    <div class="accordion__row__icon">
        {{ content.field_image }}
    </div>
    <div class="accordion__row__value">
        <div>{{ content.field_value }}</div>
    </div>
</div>