<div class="col-md-4 tab-content__block">
    <div class="tab-content__icon">
        {{ content.field_inward_image }}
    </div>
    <div class="tab-content__title">
        {{ content.field_inward_title }}
    </div>
</div>