<div class="accordion__section accordion__section--row accordion--row" id="identity">
    <div class="accordion__title heading--xl heading--sans--md heading--dark text-center">
        <a href="#accordion__item-0" data-toggle="collapse" class="collapsed">The Identity</a>
    </div>
    <div id="accordion__item-0" class="collapse accordion__content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ content.field_accordion_row }}
                </div>
            </div>
        </div>
    </div>
</div>
