<div class="map-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <h3>We are a Global Partner</h3>
        <h4>No matter where you are in the <br>world, we can help you.</h4>
        <p>In addition to Tederic headquarter in China, we currently have 4 overseas subsidiaries, and our intermediaries are located in 38 countries around the world.</p>
        <a class="btn-gen" href="#">FIND our NEAREST SUBSIDIARY <span><i class="fa fa-angle-right"></i></span></a>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="/ghani/themes/tederic/images/map-home.png" alt="map-home">
      </div>
    </div>
  </div>
</div>
