<div class="hm-post2 news-tab">
    <div class="container">
        <div class="rwo">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2>Latest News</h2>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">POPULAR</a></li>
                    <li><a data-toggle="tab" href="#menu1">RECENT</a></li>
                </ul>
            </div>
            <div class="rwo">
                <div class="tab-content">
                 {{ content.field_popular }}
                 {{ content.field_recent }}
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center"><a class="btn-gen" href="#">SHOW MORES<span><i class="fa fa-angle-right"></i></span></a></div>
    </div>
</div>