<div class="item {% if paragraph.index == 0 %} active {% endif %}">
  {{ content.field_banner_image }}
  <div class="container">
    <div class="carousel-caption">
      {{ content.field_banner_text }}
      {{ content.field_banner_link }}
    </div>
  </div>
</div>
