<div class="hm-who">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>{{ content.field_slider_title }}</h3>
        <h1>{{ content.field_slider_description }}</h1>
      </div>
    </div>
    <div id="myCarouseltwo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
       {{ content.field_inside_slider_section }}
      </div>
      <a class="left carousel-control" href="#myCarouseltwo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarouseltwo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
