<div class="slider-area-main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {{ content.field_banner }}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <img src="/ghani/themes/tederic/images/slarrow-left.png">
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <img src="/ghani/themes/tederic/images/slarrow-right.png">
    </a>
  </div>
</div>
